<!-- <div hover>Hello Angular</div> -->
<app-home></app-home>
<!-- <app-add-player></app-add-player> -->
<!-- <a routerLink="/insert">Insert</a><br>
<a routerLink="/display" >Display All Players</a><br>
<a routerLink="/update">Update Player Details</a><br>
<a routerLink="/getbyplayerid">GetPlayers By Id</a><br>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluplayerid">
      <form class="d-flex"  #searchInput="ngForm" (ngSubmit)="find(searchInput)">
        <input class="form-control me-2" type="search" name="data"  ngModel  placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>  -->

<!-- <div appHover>Heloooooooooo</div> -->
 <router-outlet></router-outlet>